<script type="text/template" id="encuestaList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Fecha</th>
		 <th>Usuario Encuestado</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(encuestas, function(encuesta) { %>
    <tr>
		<td><%= htmlEncode(encuesta.getDisplay('name')) %></td>
		<td><%= htmlEncode(encuesta.getDisplay('fecha')) %></td>
		<td><%= htmlEncode(encuesta.getDisplay('usuarioEncuestado')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-encuesta-edit',{id:<%= encuesta.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-encuesta-delete',{id:<%= encuesta.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="encuesta">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-encuestaForm">
    <% if(encuesta.id) {%>
    <input type="hidden" name="id" value="<%= encuesta.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= encuesta.get('name') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fecha">Fecha</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fecha"  name="fecha" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fecha').datepicker({autoclose:true});
        	$('#fecha').datepicker('setDate',App.Utils.Converter.date.toDate("<%= encuesta.get('fecha') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="usuarioEncuestado">Usuario Encuestado</label>
    	<input type="text" class="form-control" id="usuarioEncuestado" name="usuarioEncuestado" placeholder="Enter value" value="<%= encuesta.get('usuarioEncuestado') %>"/>	
		</div>
    </form>
    </div>
</script> 