<div class = "row ">
  <div class="col-md-2 ">
    <ul class="nav nav-tab nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#firstTab" role="tab" data-toggle="tab">Gr&aacute;fico por semana</a></li>
      <li role="presentation" data-toggle="tab" ><a href="#secondTab" role="tab" data-toggle="tab" onclick="compararSemanas(false); return false;">Comparar Semanas</a></li>
     <!-- <li role="presentation" data-toggle="tab"><a href="#thirdTab" role="tab" data-toggle="tab">Encuesta 3</a></li> -->
    </ul>
  </div>
 
  <div class="tab-content col-md-10">
    <div class="tab-pane active" role="tabpanel" id="firstTab">
      <div class="well row">
      <form id="formSemana" role="form">
        Seleccione una semana
        <br>
        <select class="form-control" name = "semanaAnual" id = "opcionesSemana"></select> 
        <br>
        <input type="submit" class="btn btn-default" onclick="consultarEstadisticasSemana(true);return false;" value="Buscar" >
      </form>
       </div>
        
      <div class ="row" id="grafica" style="width:900px; height: 400px; margin: 0 auto">
          
      </div>
      
    </div>

    <div class="tab-pane" role="tabpanel" id="secondTab">
      <div class="row">
        <div class="well">
          Seleccione las semanas a comparar
          <br>
          
          <form id="formComparar" role="form">
            <select multiple class="form-control" name="semanas" id="compararOpciones">

            </select>
              <br>
            <input type="submit" class="btn btn-default" value="comparar" onclick="compararSemanas(true);return false;"></input>
          </form>
          </div>
       </div> 
        <div class="row" id="graficaComparar">
        </div>
      
    </div>

    <div class="tab-pane" role="tabpanel" id="thirdTab">
        <p>Seccion C</p>
    </div>
  </div>
</div>

  <br><br>