<script type="text/template" id="monitor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-monitorForm">
    <% if(monitor.id) {%>
    <input type="hidden" name="id" value="<%= monitor.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= monitor.get('name') %>"/>	
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="activo" name="activo" value="true" type="checkbox" <%= monitor.get('activo')?'checked':'' %>> Activo
    	</label>
		</div>
		<div class="form-group" >
		<label for="usuario">Usuario</label>
    	<input type="text" class="form-control" id="usuario" name="usuario" placeholder="Enter value" value="<%= monitor.get('usuario') %>"/>	
		</div>
		<div class="form-group" >
		<label for="puntosNegativos">Puntos Negativos</label>
    	<input type="text" class="form-control" id="puntosNegativos" name="puntosNegativos" placeholder="Enter value" value="<%= monitor.get('puntosNegativos') %>"/>	
		</div>
    </form>
    </div>
</script> 