<script type="text/template" id="monitor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-monitorForm">
    <% if(monitor.id) {%>
    <input type="hidden" name="id" value="<%= monitor.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= monitor.get('name') %>" disabled />	
		</div>
		
		<div class="form-group" >
		<label for="puntosNegativos">Asignar Puntos Negativos</label>
    	<input type="text" class="form-control" id="puntosNegativos" name="puntosNegativos" placeholder="Enter value" value="<%= monitor.get('puntosNegativos') %>" />	
		</div>
        <div class="form-group" >
        <label for="llegadasTarde">Asignar llegadas tarde</label>
        <input type="text" class="form-control" id="llegadasTarde" name="llegadasTarde" placeholder="Enter value" value="<%= monitor.get('llegadasTarde') %>" />  
        </div>

    </form>
    </div>
</script> 