<script type="text/template" id="respuestaNumericaList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Contenido</th>
		 <th>Name</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(respuestaNumericas, function(respuestaNumerica) { %>
    <tr>
		<td><%= htmlEncode(respuestaNumerica.getDisplay('contenido')) %></td>
		<td><%= htmlEncode(respuestaNumerica.getDisplay('name')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-respuestaNumerica-edit',{id:<%= respuestaNumerica.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-respuestaNumerica-delete',{id:<%= respuestaNumerica.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="respuestaNumerica">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-respuestaNumericaForm">
    <% if(respuestaNumerica.id) {%>
    <input type="hidden" name="id" value="<%= respuestaNumerica.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="contenido">Contenido</label>
    	<input type="text" class="form-control" id="contenido" name="contenido" placeholder="Enter value" value="<%= respuestaNumerica.get('contenido') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= respuestaNumerica.get('name') %>"/>	
		</div>
    </form>
    </div>
</script> 